*{
    margin:0;
    font-family: Arial;
    border:border-box;
}
.navbar{
    height:60px;
    background-color:black;
    display:flex;
    justify-content: space-evenly;
}
.logo{
    width: 114px;
}
.deliver{
    color: white;
    margin-top: 10px;
}
.location{
    display: flex;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border:2px solid white;
}
.searchlogo{
    background-color: rgb(228, 175, 13);
    display: flex;
    align-items: center;
    height:30px;
}
.dropsearchlogo{
    display:flex;
}
.dropdown{
    display:flex;
    align-items: center;
}
.search{
    display:flex;
    align-items: center;
}
.search-bar{
    width:450px;
}
.drop-down{
    width:21px;
    height:38px;
}
.signin{
    color:white;
    margin-top: 10px;
}
.return{
    color:white;
    margin-top: 10px;
}
.cartlogo{
    color: white;
    display:flex;
}
.cart{
    padding-top:20px;
}
.navbar2{
    height:40px;
    background-color:#222f3d;
    display: flex;
    gap:10px;
}
.navsprite{
    color:white;
    display: flex;
    padding-top:10px;
}
.todayoffer{
    color:white;
    padding-top: 10px;
}
.primevideo{
    color:white;
    padding-top: 10px;
}
.registry{
    color:white;
    padding-top: 10px;
}
.giftcard{
    color:white;
    padding-top: 10px;
}
.coustomerservice{
    color:white;
    padding-top: 10px;
}
.sell{
    color:white;
    padding-top: 10px;
}
.hero{
    background-image: url("https://m.media-amazon.com/images/I/71GGl3UpyOL._SX3000_.jpg");
    background-size: cover;
    height:400px;
    display:flex;
    align-items:flex-end;
    justify-content: center;
}
.heromsg{
    background-color: white;
    height:30px;
    width:80%;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 15px;
}
.heromsg a{
    color:#2162A1;
}
.first{
    height:430px;
    background-color:#e2e7e6;
    display:flex;
    justify-content: space-evenly;
}
.box{
    height:420px;
    width:23%;
    background-color:white;
    color:#0F1111;
    padding-top: 10px;
    font-size:large;
    display:flex;
    flex-direction: column;
    gap:20px;
    margin-top: 10px;
}
.box a{
    color:#2162A1;
}
.box a:hover{
    cursor:pointer;
    text-decoration: underline;
}
.boximg{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
}
.second{
    height:430px;
    background-color:#e2e7e6;
    display:flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.box1{
    height:420px;
    width:23%;
    background-color:white;
    color:#0F1111;
    padding-top: 10px;
    font-size:large;
    display:flex;
    flex-direction: column;
    gap:20px;
    margin-top: 10px;
}
.box1img{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
}
.box1 a{
    color:#2162A1;
}
.box1 a:hover{
    cursor:pointer;
    text-decoration: underline;
}
.third{
    height:310px;
    background-color: #e2e7e6;
    margin-top:10px;
    display:flex;
    justify-content: center;
}
.box2{
    height:280px;
    width:97%;
    background-color: white;
    margin-top: 10px;
    padding-top: 10px;
    font-size: large;
    display:flex;
    flex-direction: column;
    gap:20px;
}
.box2img{
    display:flex;
    gap:15px;
}
.navbar3{
    background-color: white;
    margin-top: 10px;
    height:175px;
}
.recommendations{
    border:0.5px solid black;
    height:148px;
    margin-top: 15px;
    background-color: white;
    font-size: larger;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.recommendations button{
    background-color:rgb(231, 221, 17);
    width: 200px;
    height:30px;
    border-radius: 50px;
}
.recommendations a{
    color:#2162A1;
}
.recommendations a:hover{
    cursor:pointer;
    text-decoration: underline;
}
.navbar4 button{
    height:49px;
    width:100%;
    background-color: #324558;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
}
.navbar5{
    height:250px;
    background-color: #222f3d;
    display: flex;
    gap:10px;
    justify-content: space-evenly;
    border-bottom: 0.5px solid white;
}
.firstcoloumn{
    font-size: large;
    color: white;
    margin-top: 30px;
}
.firstcoloumn a{
    color:white;
    display:flex;
    flex-direction: column;
    font-size: small;
}
.firstcoloumn a:hover{
    cursor:pointer;
    text-decoration: underline;
}
.secondcoloumn{
    font-size: large;
    color: white;
    margin-top: 30px;
}
.secondcoloumn a{
    color:white;
    display:flex;
    flex-direction: column;
    font-size: small;
}
.secondcoloumn a:hover{
    cursor:pointer;
    text-decoration: underline;
}
.thirdcoloumn{
    font-size: large;
    color: white;
    margin-top: 30px;
}
.thirdcoloumn a{
    color:white;
    display:flex;
    flex-direction: column;
    font-size: small;
}
.thirdcoloumn a:hover{
    cursor:pointer;
    text-decoration: underline;
}
.fourthcoloumn{
    font-size: large;
    color: white;
    margin-top: 30px;
}
.fourthcoloumn a{
    color:white;
    display:flex;
    flex-direction: column;
    font-size: small;
}
.fourthcoloumn a:hover{
    cursor:pointer;
    text-decoration: underline;
}
.end{
    background-color: #222f3d;
    height:50px;
    width:100%;
    color:white;
    display: flex;
    justify-content: space-evenly;
}
.end img{
    background-color: transparent;
    width:100px;
    height: auto;
    margin-top: 5px;
}
.end p{
    margin-top: 10px;
}